@import "../../styles/functions";
@import "../../styles/colors";

ul {
  list-style: none;

  li {
    margin: calcSize(1px);
    border-bottom: solid 1px $blue-lagoon;

    &:hover {
      color: $blue-lagoon;
      border-color: $teal;
    }
  }

}

@media screen and (max-width: 768px) {

  #blog div {
    flex-direction: column;
  }

}
