@import "../../styles/functions";

.hero {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#about-me {

  height: 100vh;

  img {
    border-radius: 50%;
    height: 200px;
    margin-right: calcSize(2px);
  }

  h1 {
    margin-bottom: calcSize(2px);
    font-size: 2rem;
  }
}


