// COLOR PALLETE
$greenery: #86AF49;
$fruit-salad: #54A557;
$green-haze: #019967;
$observatory: #008C75;
$teal: #007D80;
$blue-lagoon: #006E84;

.greenery {
  background-color: $greenery;
}

.fruit-salad {
  background-color: $fruit-salad;
}

.green-haze {
  background-color: $green-haze;
}

.observatory {
  background-color: $observatory;
}

.teal {
  background-color: $teal;
}

.blue-lagoon {
  background-color: $blue-lagoon;
}

.font-greenery {
  color: $greenery;
}

.font-fruit-salad {
  color: $fruit-salad;
}

.font-green-haze {
  color: $green-haze;
}

.font-observatory {
  color: $observatory;
}

.font-teal {
  color: $teal;
}

.font-blue-lagoon {
  color: $blue-lagoon;
}
