@import "./fonts";
@import "./colors";
@import "./functions";

* {
  font-family: 'Montserrat', SansSerif;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  margin: 0;
}

section {
  margin: calcSize(2px) 0;
  padding: 0 20vw;
}


section h2 {
  padding: calcSize(2px) 0;
}

p {
  line-height: 1.4rem;
  text-indent: 2rem;
  text-align: justify;
}


.bold {
  font-weight: bold;
}

// FLEX CLASS
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-start {
  justify-content: start;
}

.center {
  justify-content: center;
}

.nowrap {
  flex-wrap: nowrap;
}

.center-all {
  @extend .center;
  align-content: center;
  align-items: center;
}

.flex-space-evenly {
  justify-content: space-evenly;
}
